* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #333333;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2 {
  font-weight: 700;
}

h1,
.header-title strong {
  color: #fcfcfc;
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  color: #fcfcfc;
  font-size: 2rem;
}

h3 {
  color: #fcfcfc;
  font-size: 1.5rem;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
}

section {
  padding: 3rem 0;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

p.header-tagline {
  color: #fcfcfc;
  margin-top: 0.5rem;
  width: 90%;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
}

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(20px);
  z-index: 1000;
}

nav ul {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  padding-inline-start: 0px;
}

nav ul li {
  text-align: center;
  list-style-type: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

nav ul li a:hover {
  /* color: #fcfcfc; */
  color: #d9d9d9;
}

nav ul li a:focus {
  /* color: #fcfcfc; */
  color: #d9d9d9;
}

.header-content {
  position: relative;
  top: 50%;
  margin-top: 20rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.hire-btn {
  padding: 0.5rem 0.8rem;
  outline: none;
  border: 1px solid #ff8c00;
  color: #ff8c00;
  background-color: transparent;
  letter-spacing: 0.11rem;
  cursor: pointer;
  box-shadow: 0 0 5px 3px rgba(255, 140, 0, 0.2);
  text-decoration: none;
}

.hire-btn:hover {
  box-shadow: 0 0 5px 3px rgba(255, 140, 0, 0.4);
  color: #ffad4d;
  border-color: #ffad4d;
}

.hire-btn:focus {
  box-shadow: 0 0 5px 3px rgba(255, 140, 0, 0.4);
  color: #ffad4d;
  border-color: #ffad4d;
}

.social-icons {
  position: relative;
  /* top: 40%; */
  display: flex;
  align-items: center;
  color: #ff8c00;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.vertical-line {
  height: 2.5rem;
  width: 1px;
  background-color: #ff8c00;
  margin-bottom: 1rem;
}

.social-link {
  color: #fcfcfc;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* About */

#about {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  position: relative;
  color: #fcfcfc;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

h2::after {
  content: "";
  position: absolute;
  bottom: -8%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #ff8c00;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.about-me-hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
  -webkit-transition: max-height 0.8s ease-out;
  -moz-transition: max-height 0.8s ease-out;
  -ms-transition: max-height 0.8s ease-out;
  -o-transition: max-height 0.8s ease-out;
}

.about-me-shown {
  max-height: 1000px;
  transition: max-height 0.5s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transition: max-height 0.5s ease-in;
  -moz-transition: max-height 0.5s ease-in;
  -ms-transition: max-height 0.5s ease-in;
  -o-transition: max-height 0.5s ease-in;
}

#read-more-btn {
  padding: 0.5rem 0.8rem;
  outline: none;
  border: 1px solid #ff8c00;
  color: #ff8c00;
  background-color: transparent;
  letter-spacing: 0.11rem;
  cursor: pointer;
  box-shadow: 0 0 5px 3px rgba(255, 140, 0, 0.2);
  text-decoration: none;
}

#read-more-btn:hover {
  box-shadow: 0 0 5px 3px rgba(255, 140, 0, 0.4);
  color: #ffad4d;
  border-color: #ffad4d;
}

#read-more-btn:focus {
  box-shadow: 0 0 5px 3px rgba(255, 140, 0, 0.4);
  color: #ffad4d;
  border-color: #ffad4d;
}

p.about-me {
  width: 90%;
  text-align: center;
  color: #fcfcfc;

  line-height: 1.6;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  text-align: center;
}

/* Skills */

#skills {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.tech-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  background-color: #3a3a3a;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

/* .tech-box:hover {
  transform: translateY(-5px);
} */

.tech-box:hover .tech-icon {
  transform: scale(1.1);
}

.tech-box:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.tech-box:focus .tech-icon {
  transform: scale(1.1);
}

.tech-box:focus {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
  from {
    opacity: 1;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.tech-box {
  animation: fadeInUp 0.5s ease forwards;
  /*  animation-delay: calc(0.1s * var(--i)); This will be set in the HTML */
}

.tech-icon {
  width: 4rem;
  height: 4rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.tech-box p {
  color: #fcfcfc;
  font-weight: bold;
  font-size: 0.8rem;
  margin-block-end: 0;
}

/* PROJECTS */
#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 90%;
}

#portfolio h2 {
  scroll-margin-bottom: 0;
  margin-bottom: 0;
}

#portfolio h3 {
  margin-block-start: 0;
  width: 100%;
  font-weight: 500;
  text-align: center;
}

.projects-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.project-card {
  flex: 1;
  min-width: 18.75rem;
  max-width: calc(33.333% - 20px);
  height: 16rem;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.project {
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.project:hover .project-overlay,
.project .project-overlay:focus-within {
  opacity: 1;
}

.project-details {
  text-align: center;
  color: #fff;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-description {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.project-link {
  background: #ff8c00;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.project-link:hover {
  background-color: #e67e22;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-view-link,
.project-github-link {
  color: #ff8c00;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.project-view-link:hover,
.project-github-link:hover {
  color: #e67e22;
}

.project-view-link:focus,
.project-github-link:focus {
  color: #e67e22;
}

.project-view-link i,
.project-github-link i {
  vertical-align: middle;
}

.icon-label {
  display: block;
  font-size: 0.75rem;
  color: #fff;
}

/* Modal */

/* See More Button */
.see-more {
  color: #ff8c00;
  text-decoration: underline;
  border: none;

  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.see-more:hover {
  background-color: #e67e22;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal.show {
  backdrop-filter: blur(5px);
  animation: modalOpen 0.5s ease;
  width: 103%;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 0 auto;
  top: 50%;
  padding: 1.2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
  overflow-y: scroll;
  animation: modalOpen 0.5s ease-in-out;
  -webkit-animation: modalOpen 0.5s ease-in-out;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

@keyframes modalOpen {
  from {
    transform: translateY(0px);
    opacity: 0;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  to {
    opacity: 1;
  }
}

.modal-content h4 {
  margin-block-end: 0;
}

.modal-content h3 {
  color: #000;
}

.modal-content p {
  font-size: 0.85rem;
}

.close-modal {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal img {
  width: 8rem;
  height: 5rem;
  margin-bottom: 20px;
}

.modal img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.tech-categories {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.tech-category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #e34f26;
  border-radius: 25px;
  padding: 5px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tech-category i {
  font-size: 1rem;
}

.tech-category span {
  font-weight: bold;
  font-size: 0.7rem;
}

/* Contact */

#contact {
  background: #3a3a3a;
  padding: 1.5rem 0;
  margin-top: 2rem;
  margin-right: 0.6rem;
  text-align: center;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#contact h3 {
  margin-block-start: 0;
}

#contact .container {
  margin: 0 auto;
  padding: 0 20px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#contact .contact-info a {
  display: inline-block;
  margin-bottom: 10px;
  color: #ff8c00;
  padding: 0.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
  background-color: #333333;
}

#contact .contact-info a:hover {
  color: #e67e22;
}

#contact .contact-info a:focus {
  color: #e67e22;
}

#contact .contact-info i {
  margin-right: 8px;
  color: #fcfcfc;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-media-icons .social-icon {
  margin: 0 10px;
  color: #fcfcfc;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-media-icons .social-icon:hover {
  color: #0056b3;
}

.social-media-icons .social-icon:focus {
  color: #0056b3;
}

/* Total scrollbar styling */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #e67e22;
  border-radius: 6px;
  border: 3px solid #333333;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #ff8c00;
}

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    font-size: 16px;
  }

  h1,
  .header-title strong {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    color: #fcfcfc;
    font-size: 1rem;
  }

  #contact h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-block-start: 0;
  }

  p {
    font-size: 1rem;
  }

  body {
    background-image: url("Assets/background-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.7);
    z-index: -1;
  }

  nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: rgba(110, 110, 110, 0.85); */
    /* background-color: rgba(230, 126, 34, 0.85); */
    opacity: 0.85;
    backdrop-filter: blur(10px);
    z-index: 1000;
  }

  #contact .contact-info a,
  .social-media-icons .social-icon {
    font-size: 1.2rem;
  }
}

/* Footer Styles */
.site-footer {
  width: 100vw;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
}

.site-footer p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/*  */

@media (max-width: 992px) {
  .project-card {
    max-width: calc(50% - 20px);
  }

  .project-overlay {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .project-card {
    max-width: 100vw;
  }

  .project-overlay {
    opacity: 1;
  }

  .modal-content {
    width: 90%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  body {
    background-image: url("Assets/background-sm.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}
