* {
  box-sizing: border-box;
}

body {
  background-color: #333333;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  color: #fcfcfc;
  text-align: center;
}

p {
  font-weight: 400;
}

section {
  padding: 3rem 0;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0.5rem 5rem; */
  z-index: 1;
}

.header-content {
  margin-top: 10rem;
}

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

nav ul {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

nav ul li {
  text-align: center;
  list-style-type: none;
}

nav ul li a {
  color: #d9d9d9;
  text-decoration: none;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #fcfcfc;
}

.header-content {
  position: relative;
  top: 50%;

  transform: translateY(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.hire-btn {
  padding: 0.5rem 0.8rem;
  outline: none;
  border: 1px solid #ff8c00;
  color: #ff8c00;
  background-color: transparent;
  letter-spacing: 0.11rem;
  cursor: pointer;
  box-shadow: 0 0 5px 3px rgba(255, 140, 0, 0.2);
}

.hire-btn:hover {
  box-shadow: 0 0 5px 3px rgba(255, 140, 0, 0.4);
  color: #ffad4d;
  border-color: #ffad4d;
}

.social-icons {
  position: relative;
  top: 40%;
  display: flex;
  align-items: center;
  color: #ff8c00;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
}

.vertical-line {
  height: 2.5rem;
  width: 1px;
  background-color: #ff8c00;
  margin-bottom: 1rem;
}

.social-link {
  color: #fcfcfc;
}

/* About */

#about {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  position: relative;
  color: #fcfcfc;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

h2::after {
  content: "";
  position: absolute;
  bottom: -8%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #ff8c00;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.about-me {
  width: 90%;
  text-align: center;
  color: #fcfcfc;
  line-height: 1.6;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  text-align: center;
}

.usp {
  color: #ff8c00;
}

/* Skills */

#skills {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.tech-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  background-color: #3a3a3a;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

/* .tech-box:hover {
  transform: translateY(-5px);
} */

.tech-box:hover .tech-icon {
  transform: scale(1.1);
}

.tech-box:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
  from {
    opacity: 1;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.tech-box {
  animation: fadeInUp 0.5s ease forwards;
  /*  animation-delay: calc(0.1s * var(--i)); This will be set in the HTML */
}

.tech-icon {
  width: 4rem;
  height: 4rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.tech-box p {
  color: #fcfcfc;
  font-weight: bold;
  font-size: 0.8rem;
  margin-block-end: 0;
}

/* PROJECTS */
#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 90%;
}

.projects-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.project-card {
  flex: 1;
  min-width: 18.75rem;
  max-width: calc(33.333% - 20px);
  height: 16rem;

  border-radius: 8px;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.project {
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.project:hover .project-overlay {
  opacity: 1;
}

.project-details {
  text-align: center;
  color: #fff;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.project-link {
  background: #ff8c00;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.project-link:hover {
  background-color: #e67e22;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-view-link,
.project-github-link {
  color: #ff8c00;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.project-view-link:hover,
.project-github-link:hover {
  color: #e67e22;
}

.project-view-link i,
.project-github-link i {
  vertical-align: middle;
}

.icon-label {
  display: block;
  font-size: 0.75rem;
  color: #fff;
}

/* Modal */

/* See More Button */
.see-more {
  color: #ff8c00;
  text-decoration: underline;
  border: none;

  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.see-more:hover {
  background-color: #e67e22;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal.show {
  backdrop-filter: blur(5px);
  animation: modalOpen 0.5s ease;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 0 auto;
  top: 50%;
  padding: 1.2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
  animation: modalOpen 0.5s ease-in-out;
  -webkit-animation: modalOpen 0.5s ease-in-out;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

@keyframes modalOpen {
  from {
    transform: translateY(-20px);
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.close-modal {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal img {
  width: 8rem;
  height: 5rem;
  /* max-width: 100%; */
  height: auto;
  margin-bottom: 20px;
}

/* Contact */

#contact {
  background: #3a3a3a;
  padding: 1rem 0;
  text-align: center;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#contact .container {
  margin: 0 auto;
  padding: 0 20px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#contact .contact-info a {
  display: inline-block;
  margin-bottom: 10px;
  color: #ff8c00;
  padding: 0.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
  background-color: #333333;
}

#contact .contact-info a:hover {
  color: #e67e22;
}

#contact .contact-info i {
  margin-right: 8px;
  color: #fcfcfc;
}

.social-media-icons {
  margin-top: 20px;
}

.social-media-icons .social-icon {
  display: inline-block;
  margin: 0 10px;
  color: #fcfcfc;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-media-icons .social-icon:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  #contact .contact-info a,
  .social-media-icons .social-icon {
    font-size: 1.2rem;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    background-image: url("Assets/0B2A5570.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  /* body::before {
    content: "";
    position: absolute;
    width: 100vw;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.7);
  } */

  .overlay {
    position: fixed; /* Use fixed instead of absolute */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.7); /* Overlay color with opacity */
    z-index: -1; /* Ensure it's behind all content */
  }

  nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(77, 77, 77, 0.85);
    backdrop-filter: blur(10px);
    z-index: 1000;
  }
}

/*  */

@media (max-width: 992px) {
  .project-card {
    max-width: calc(50% - 20px);
  }

  .project-overlay {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .project-card {
    max-width: 100%;
  }

  .project-overlay {
    opacity: 1;
  }

  .modal-content {
    width: 90%;
    padding: 10px;
  }
}
